<section class="text-center p-5 about" style="background-color: #1ABC9C; color: white; height: 100vh; ">
  <h2 class="fw-bold"  style="margin-top: 100px;">ABOUT COMPONENT</h2>
  <div class="d-flex justify-content-center align-items-center mb-4 ">
    <hr class="me-3" style="width: 50px; border: 2px solid white;" />
    <i class="fas fa-star"></i>
    <hr class="ms-3" style="width: 50px; border: 2px solid white;" />
  </div>

  <div class="row justify-content-center">
    <div class="col-md-5">
      Freelancer is a free bootstrap theme created by Route. The download includes
      the complete source files including HTML, CSS, and JavaScript as well as optional
      SASS stylesheets for easy customization.
    </div>
    <div class="col-md-5">
      Freelancer is a free bootstrap theme created by Route. The download includes
      the complete source files including HTML, CSS, and JavaScript as well as optional
      SASS stylesheets for easy customization.
    </div>
  </div>
</section>
