<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand fw-bold" routerLink="/">START FRAMEWORK</a>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
